<div class="logo hidden-xs">
    <span class="logo-mini">
        <img src="/assets/img/logo-white.svg"
             onerror="this.onerror=null; this.src='/assets/img/logo-white.png';">
    </span>

    <span class="logo-lg">
        <div class="logo-content">
            <img src="/assets/img/logo-white.svg" class="img-fluid"
                 onerror="this.onerror=null; this.src='/assets/img/logo-white.png';">
            <b>Pedimap</b>
        </div>
    </span>
</div>