<!DOCTYPE html>
<html>
<head>

    <title>Informe Detallado | Pedimap</title>

    <% include layouts/meta.ejs %>
    <% include layouts/styles/default.ejs %>
    <% include layouts/styles/datatable.ejs %>

    <link rel="stylesheet" href="/assets/css/default.css">

</head>

<body class="hold-transition skin sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <% include layouts/logo.ejs %>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/img/default-user.png" class="user-image" alt="User Image">
                            <span class="hidden-xs"><%= usuario.descrip %></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/assets/img/default-user.png" class="img-circle" alt="User Image">

                                <p>
                                    <%= usuario.descrip %>
                                    <small>Miembro desde <%= usuario.fecalta.toLocaleString() %></small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="/terranorte/logout" class="btn btn-default btn-flat">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/terranorte/logout"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/assets/img/logo-terranorte.svg"
                         onerror="this.onerror=null; this.src='/assets/img/logo-terranorte.png'">
                </div>
                <div class="pull-left info">
                    <p>Terranorte S.A.C.</p>
                    <a href="#"><i class="fa fa-circle success-icon"></i> Conectado</a>
                </div>
            </div>
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">PANEL DE OPCIONES</li>
                <%- include('layouts/aside/aside.ejs', {value: 'detallado'}) %>
            </ul>
        </section>
    </aside>
    <div id="content-test" class="content-wrapper">
        <section id="content-header" class="content-header">
            <h1 class="hidden-xs">
                Informe Detallado
                <small>Proveedores</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a href="#">Seguimiento</a></li>
                <li class="active">Reporte</li>
            </ol>
        </section>
        <section id="section-map" class="content">
            <div class="row">
                <!--<div class="col-md-5">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            <h3 class="box-title">Resumen de Proveedores</h3>
                            <% //include layouts/collapse.ejs    %>
                        </div>
                        <div class="box-body">
                            <div>
                                <canvas id="reporte_lineas" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <h3 class="box-title">Resumen de Proveedores</h3>
                            <% //include layouts/collapse.ejs    %>
                        </div>
                        <div class="box-body">
                            <table id="resumen" class="table table-bordered table-striped table-responsive"
                                   cellspacing="0" style="font-size: xx-small; width: 100%">
                                <thead style="width: 100%">
                                <tr>
                                    <th>Proveedor</th>
                                    <th><span class="label label-success">Entregado</span></th>
                                    <th><span class="label label-danger">Rechazado</span></th>
                                    <th><span class="label" style="background-color: #4a4a4a">Pendiente</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <h3 class="box-title">Resumen de Proveedores</h3>
                            <% include layouts/collapse.ejs    %>
                        </div>
                        <div class="box-body">
                            <table id="resumen" class="table table-bordered table-striped table-responsive"
                                   cellspacing="0" style="font-size: xx-small; width: 100%">
                                <thead style="width: 100%">
                                <tr>
                                    <th>Proveedor</th>
                                    <th><span class="label label-success">Entregado</span></th>
                                    <th><span class="label label-danger">Rechazado</span></th>
                                    <th><span class="label" style="background-color: #4a4a4a">Pendiente</span></th>
                                    <th>Total</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-table   " aria-hidden="true"></i>
                            <h3 class="box-title">Informe de Transportes</h3>
                            <% include layouts/collapse.ejs %>
                        </div>
                        <div class="box-body">
                            <table id="fletero" class="table table-bordered table-striped table-responsive"
                                   cellspacing="0" style="font-size: xx-small; width: 100%">
                                <thead style="width: 100%">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Transporte</th>
                                    <th>Proveedor</th>
                                    <th><span class="label label-success">Entregado</span></th>
                                    <th><span class="label label-danger">Rechazado</span></th>
                                    <th><span class="label" style="background-color: #4a4a4a">Pendiente</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <h3 class="box-title">Informe de Vendedores</h3>
                            <% include layouts/collapse.ejs %>
                        </div>
                        <div class="box-body">
                            <table id="vendedor" class="table table-bordered table-striped table-responsive"
                                   cellspacing="0" style="font-size: xx-small; width: 100%">
                                <thead style="width: 100%">
                                <tr>
                                    <th>Vendedor</th>
                                    <th><span class="label label-success">Entregado</span></th>
                                    <th><span class="label label-danger">Rechazado</span></th>
                                    <th><span class="label" style="background-color: #4a4a4a">Pendiente</span></th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <h3 class="box-title">Informe de Rutas</h3>
                            <% include layouts/collapse.ejs %>
                        </div>
                        <div class="box-body">
                            <table id="ruta" class="table table-bordered table-striped table-responsive"
                                   cellspacing="0" style="font-size: xx-small; width: 100%">
                                <thead style="width: 100%">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Ruta</th>
                                    <th>Proveedor</th>
                                    <th><span class="label label-success">Entregado</span></th>
                                    <th><span class="label label-danger">Rechazado</span></th>
                                    <th><span class="label" style="background-color: #4a4a4a">Pendiente</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

<% include layouts/scripts/default.ejs %>
<% include layouts/scripts/chart.ejs %>
<% include layouts/scripts/jspdf.ejs %>
<% include layouts/scripts/datatable.ejs %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


<script type="text/javascript">
    var init = moment().format('YYYY/MM/DD')
    var to = moment().format('YYYY/MM/DD')
    $.ajax(
        {
            type: 'POST',
            url: '/terranorte/app/despacho/proveedor',
            contentType: "application/json",
            data: JSON.stringify({fecha_inicial: init, fecha_final: to}),
            success: function (result) {
                var columnas = [
                    {'data': 'nomcli'},
                    {'data': 'entregado', orderable: false},
                    {'data': 'rechazado', orderable: false},
                    {'data': 'pendiente', orderable: false},
                    {'data': 'pendiente', orderable: false}
                ];
                crearTabla(result.data, '#fletero', columnas);
            }
        }
    );

    $.ajax(
        {
            type: 'POST',
            url: '/terranorte/app/vendedor/despacho',
            contentType: "application/json",
            data: JSON.stringify({fecha_inicial: init, fecha_final: to}),
            success: function (result) {
                console.log(result)
                var columnas = [
                    //{'data': 'fecha'},
                    {orderable: true, render: function (data, type, row) {
                        return row.vendedor + ' - ' + row.d_perso;
                    }},
                    //{'data': 'proveedor'},
                    {'data': 'entregado', orderable: false},
                    {'data': 'rechazado', orderable: false},
                    {'data': 'pendiente', orderable: false},
                    {'data': 'total', orderable: false}
                ];
                crearTabla(result.data, '#vendedor', columnas);
            }
        }
    );

    $.ajax(
        {
            type: 'POST',
            url: '/terranorte/app/ruta/despacho/proveedor',
            contentType: "application/json",
            data: JSON.stringify({fecha_inicial: init, fecha_final: to}),
            success: function (result) {
                var columnas = [
                    {'data': 'fecha'},
                    {'data': 'ruta'},
                    {'data': 'proveedor'},
                    {'data': 'entregado'},
                    {'data': 'rechazado'},
                    {'data': 'pendiente'}
                ];
                crearTabla(result.data, '#ruta', columnas);
            }
        }
    );

    $.ajax(
        {
            type: 'POST',
            url: '/terranorte/app/despacho/proveedor/general',
            contentType: "application/json",
            data: JSON.stringify({fecha_inicial: init, fecha_final: to}),
            success: function (result) {
                console.log(result)
                var columnas = [
                    {'data': 'proveedor'},
                    {'data': 'entregado', orderable: false},
                    {'data': 'rechazado', orderable: false},
                    {'data': 'pendiente', orderable: false},
                    {'data': 'total', orderable: false},
                    {
                        render: function (data, type, row) {
                            return '<span class="pull-right">' +
                                '<div class="dropdown">' +
                                '<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">' +
                                'Detallar por ' +
                                '<span class="caret"></span>' +
                                '</button>' +
                                '<ul class="dropdown-menu pull-right" role="menu">' +
                                '<li><a href="#" onClick="VerDetalleTransportes(\'' + row.codmarca + '\')"><i style="color: black" class="fa fa-truck"></i>Transportes</a></li>' +
                                '<li><a href="#" onClick="VerDetalleVendedores(\'' + row.codmarca + '\')"><i style="color: darkgreen" class="fa fa-user"></i>Vendedores</a></li>' +
                                '<li><a href="#" onClick="VerDetalleRutas(\'' + row.codmarca + '\')"><i style="color: darkred" class="fa fa-road"></i>Rutas</a></li>' +
                                '<li><a href="#" onClick="VerDetalleLineas(\'' + row.codmarca + '\')"><i style="color: darkblue" class="fa fa-cubes"></i>Lineas</a></li>' +
                                '<li><a href="#" onClick="VerDetalleGenericos(\'' + row.codmarca + '\')"><i style="color: darkgoldenrod" class="fa fa-cube"></i>Genericos</a></li>' +
                                '</ul></div></span>';
                        }, orderable: false
                    },
                ];
                crearTabla(result.data, '#resumen', columnas);
                crearGraficoBarras(result.data, 'reporte_lineas')
            }
        }
    );

    function cargarBarDataset(data) {

        if (!data || !data.length) {
            return;
        }

        var proveedor = [];
        var pendiente = [];
        var atendidos = [];
        var rechazo = [];

        for (var i = 0; i < data.length; i++) {
            proveedor.push(data[i].proveedor);
            pendiente.push(data[i].pendiente);
            atendidos.push(data[i].entregado);
            rechazo.push(data[i].rechazado);
        }

        return {
            labels: proveedor,
            datasets: [
                {
                    label: "Atendido",
                    backgroundColor: 'rgb(16, 209, 69)',
                    data: atendidos
                }, {
                    label: "Rechazado",
                    backgroundColor: 'rgb(209, 41, 44)',
                    data: rechazo
                }, {
                    label: "Pendiente",
                    backgroundColor: 'rgb(132, 134, 137)',
                    data: pendiente
                }
            ]
        };

    }
    function crearGraficoBarras(data, chart) {

        var _chart = document.getElementById(chart).getContext('2d');
        var _data = cargarBarDataset(data);
        new Chart(_chart, {
            type: 'horizontalBar',
            data: _data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Informe de Proveedores'
                },
                pointDotRadius: 10,
                bezierCurve: false,
                scaleShowVerticalLines: false,
                scaleGridLineColor: 'black'
            }
        });
    }

    function crearTabla(data, tabla, columnas) {
        $(tabla).dataTable({
            'destroy': true,
            'language': {
                "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'frtip',
            'filter': true,
            responsive: true,
            'stateSave': false,
            data: data,
            'columns': columnas
        });
    }
</script>

</body>
</html>