<!DOCTYPE html>
<html>
<head>

    <title>Pedidos | Pedimap</title>

    <% include layouts/meta.ejs %>
    <link rel="stylesheet" href="/assets/lib/select2/dist/css/select2.min.css">
    <% include layouts/styles/default.ejs %>
    <% include layouts/styles/datatable.ejs %>

    <link rel="stylesheet" href="/assets/css/default.css">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"/>

</head>

<body class="hold-transition skin sidebar-mini">
<div class="wrapper">
    <header class="main-header">

        <% include layouts/logo.ejs %>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/img/default-user.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">Supervisor de ventas</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/assets/img/default-user.png" class="img-circle" alt="User Image">

                                <p>
                                    Usuario Supervisor de Ventas
                                    <small>Miembro desde Sep. 2017</small>
                                </p>

                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/assets/img/logo-terranorte.svg"
                         onerror="this.onerror=null; this.src='/assets/img/logo-terranorte.png'">
                </div>
                <div class="pull-left info">
                    <p>Terranorte S.A.C.</p>
                    <a href="#"><i class="fa fa-circle success-icon"></i> Conectado</a>
                </div>
            </div>
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">PANEL DE OPCIONES</li>
                <% include layouts/aside/informe.ejs %>
                <% include layouts/aside/seguimiento.ejs %>
                <%- include('layouts/aside/pedidos.ejs', {value: ' class=active'}) %>
                <% include layouts/aside/fleteros.ejs %>
                <% include layouts/aside/reporte.ejs %>
            </ul>
        </section>
    </aside>
    <div id="content-test" class="content-wrapper">
        <section id="content-header" class="content-header">
            <h1 class="hidden-xs">
                Composición de carga
                <small>Pedidos</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a href="#">Preventa</a></li>
                <li class="active">Pedidos</li>
            </ol>
        </section>
        <section id="section-map" class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <h3 class="box-title">Busqueda</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>Fecha:</label>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                    <input type="text" class="form-control" id="datepicker">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Transporte:</label>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-truck" aria-hidden="true"></i>
                                </span>
                                    <select id="fleteros" class="form-control has-feedback" style="width: 100%">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Vendedor:</label>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon ion-person" aria-hidden="true"></i>
                                </span>
                                    <input type="text" id="vendedor" class="form-control" placeholder="Codigo de vendedor">
                                    </input>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-block btn-primary" onclick="generarReporte()">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                    Generar
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                            <h3 class="box-title">Pedidos</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table id="pedidos" class="table table-bordered table-striped table-responsive"
                                   cellspacing="0" style="font-size: xx-small; width: 100%">
                                <thead style="width: 100%">
                                <tr>
                                    <th>Cliente</th>
                                    <th>Domicilio</th>
                                    <th>Tip. Negocio</th>
                                    <th>Ruta</th>
                                    <th>Importe</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<% include layouts/scripts/default.ejs %>
<% include layouts/scripts/datatable.ejs %>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js"></script>
<script src="/assets/lib/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript">
    var picker = $('#datepicker');
    picker.datepicker(
        {
            autoclose: true,
            weekStart: 0,
            inline: true,
            language: 'es-ES',
            format: 'dd/mm/yyyy',
            orientation: 'bottom'
        }
    );
    picker.datepicker('setDate', new Date());
    $('select').select2(
        {
            placeholder: 'Cargando.....'
        }
    );

    $('#pedidos').dataTable({
        'destroy': true,
        'language': {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },
        dom: 'frtip',
        'filter': true,
        responsive: true,
        'stateSave': false,
        'ajax': {
            url: "/terranorte/app/clientes/despacho",
            "type": "POST",
            dataType: "json",
            data: {fecha: new Date().toJSON()},
            dataSrc: ''
        },
        'columns': [
            {
                "orderable": true,
                render: function (data, type, row) {//datatoggle es para abrir el modal
                    return row.idcliente + ' - ' + row.nomcli;
                }
            }, {
                'data': 'domicli'
            }, {
                'data': 'tiponego'
            }, {
                'data': 'ruta'
            }, {
                'data': 'importe'
            }, {
                "orderable": true,
                render: function (data, type, row) {//datatoggle es para abrir el modal
                    return '<span class="pull-right">' +
                        '<div class="dropdown">' +
                        '<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">' +
                        'Opciones ' +
                        '<span class="caret"></span>' +
                        '</button>' +
                        '<ul class="dropdown-menu pull-right" role="menu">' +
                        '<li><a onClick="EnviarResultado(\'' + row.codprov + '\',\'' + row.tipopla + '\',\'' + row.seriepla + '\',\'' + row.nropla + '\',\'' + row.idcliente + '\')"><i style="color: green" class="glyphicon glyphicon-ok-circle"></i>Ver Documentos</a></li>' +
                        //'<li><a onClick="EnviarResultado(\'' + row.codprov + '\',\'' + row.tipopla + '\',\'' + row.seriepla + '\',\'' + row.nropla + '\',\'' + row.idcliente + '\', 2)"><i style="color: red" class="glyphicon glyphicon-remove-circle"></i></a></li>' +
                        //'<li><a onclick="datos_marker(' + row.YCoord + ',' + row.XCoord + ',' + row.idcliente + ')"><i style="color: blue" class="glyphicon glyphicon-map-marker"></i>Ubicar cliente</a></li>' +
                        '</ul></div></span>';
                }
            }
        ]
    });
</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

</body>
</html>